daemon.conf

# IDE specific

## IntelliJ
.bsp/
.idea/
metals.sbt

## VS Code
.metals/
.bloop/
.vscode/

# Other
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime
